 /* General Styles */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fff8e1;
    color: #333;
}

a {
    text-decoration: none;
    color: white;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e63946;
    padding: 30px 30px;
}

nav .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    font-size: 1.5rem;
}

nav ul li a:hover {
    background-color: #f19a0fc2;
    padding: 30px 30px;
}
#welcome-message {
    font-size: 22px;
    color: white;
    background-color: #f19a0fc2;
    text-align: center;
    padding:20px 40px;
}

/* Banner */
.banner {
    width: 100%;
    height: 60vh;
    background-image: url('https://images.pexels.com/photos/365459/pexels-photo-365459.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    font-size: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.172);
    padding: 20px;
}

/* About Section */
.about {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
}

.about .about-text {
    width: 60%;
    text-align: justify;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #e63946;
    border-bottom: 3px solid #e63946;
}

.about p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.6;
}

.about .cta-btn {
    background-color: #e63946;
    color: white;
    padding: 15px 30px;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.about img {
    width: 65%;
    border-radius: 10px;
    object-fit:contain;
}
.about .cta-btn:hover {
    background-color: #f19a0fc2;
    
}

/* speciality */
.speciality {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    background-color: #ffcabd;
}

.speciality .speciality-text {
    width: 80%;
    text-align: justify;
    margin-right:90px;
}

.speciality h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #e63946;
    border-bottom: 3px solid #e63946;
}

.speciality p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.6;
}

.speciality .cta-btn {
    background-color: #e63946;
    color: white;
    padding: 15px 30px;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.speciality img {
    width: 55%;
    border-radius: 10px;
    object-fit:contain;
    margin-left:2em;
}
.speciality img:hover {
    border-radius: 50%;
}
.speciality .cta-btn:hover {
    background-color: #f19a0fc2;
    
}


/* Store Info Section */
.store-info {
    display: flex;
    justify-content: space-around;
    background-color: #f19a0fc2;
    padding: 50px 0;
}

.store-info div {
    text-align: center;
    padding: 30px;
    background-color: #fff3cd;
    border-radius: 10px;
    width: 25%;
}

.store-info div h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #e63946;
}

.store-info div p {
    font-size: 16px;
}

/* Footer */
footer {
    background-color: #e63946;
    color: white;
    text-align: center;
    padding: 15px 0;
}

footer p {
    font-size: 14px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .about {
        flex-direction: column;
        align-items: center;
    }

    .about-text {
        padding-right: 0;
        margin-bottom: 30px;
    }

    .about-image {
        width: 100%;
    }
    .store-info {
        flex-direction: column;
        align-items: center;
    }

    .store-info div {
        width: 80%;
        margin-bottom: 20px;
    }
}